<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li class="active">Shopping Cart</li>
      </ol>
    </div>
    <div class="table-responsive cart_info">
      <table class="table table-condensed">
        <thead>
          <tr class="cart_menu">
            <td class="image">Produit</td>
            <td class="price">Prix</td>
            <td class="quantity">Quantité/shiping minimale amazon</td>
            <td class="quantity">Quantité/shiping minimale aliexpress</td>
            <td class="quantity">Quantité/shiping minimale aliebaba</td>
            <td class="quantity">prix finale aliexpress</td>
            <td class="quantity">prix finale aliexbaba</td>
            <td class="quantity">prix finale amazon</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cm of produits">
            <td class="cart_product" cellspacing="4">
              <a href=""
                ><img src="{{ cm.photo }}" width="80" height="150" alt=""
              /></a>
            </td>

            <td class="cart_price">
              <p>${{ cm.prix }}</p>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">1/ {{ min }} $</div>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                1/ free shipping
              </div>
            </td>
            <td class="cart_quantity">
              <div class="cart_quantity_button">
                {{ cm.quantite }}
              </div>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">${{ cm.prix }}</p>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">${{ cm.prix * cm.quantite }}</p>
            </td>
            <td class="cart_total">
              <p class="cart_total_price">${{ cm.prix + min }}</p>
            </td>
            <td class="cart_delete">
              <a class="cart_quantity_delete" (click)="delete(cm.id)" href="#"
                ><i class="fa fa-times"></i
              ></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
<!--/#cart_items-->

<!--/#do_action-->
