<section id="slider">
  <!--slider-->
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="slider-carousel" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li
              data-target="#slider-carousel"
              data-slide-to="0"
              class="active"
            ></li>
            <li data-target="#slider-carousel" data-slide-to="1"></li>
            <li data-target="#slider-carousel" data-slide-to="2"></li>
          </ol>

          <div class="carousel-inner">
            <div class="item active">
              <div class="col-sm-6">
                <h1><span>E</span>-SHOPPER</h1>
                <h2>Free E-Commerce comparaison</h2>
                <p>
                  Application en ligne
                </p>
                <button type="button" class="btn btn-default get">
                  Essayer le
                </button>
              </div>
              <div class="col-sm-6">
                <img
                  src="assets/images/home/girl1.jpg"
                  class="girl img-responsive"
                  alt=""
                />
                <img
                  src="assets/images/home/pricing.png"
                  class="pricing"
                  alt=""
                />
              </div>
            </div>
            <div class="item">
              <div class="col-sm-6">
                <h1><span>E</span>-SHOPPER</h1>
                <h2>Comparateur des prix</h2>
                <p>Comparateur des prix intelligent</p>
                <button type="button" class="btn btn-default get">
                  Essayer le
                </button>
              </div>
              <div class="col-sm-6">
                <img
                  src="assets/images/home/girl2.jpg"
                  class="girl img-responsive"
                  alt=""
                />
                <img
                  src="assets/images/home/pricing.png"
                  class="pricing"
                  alt=""
                />
              </div>
            </div>

            <div class="item">
              <div class="col-sm-6">
                <h1><span>E</span>-SHOPPER</h1>
                <h2>Free Ecommerce website</h2>
                <p>
                  Compare from amazon aliexpress and alibaba
                </p>
                <button type="button" class="btn btn-default get">
                  Get it now
                </button>
              </div>
              <div class="col-sm-6">
                <img
                  src="assets/images/home/girl3.jpg"
                  class="girl img-responsive"
                  alt=""
                />
                <img
                  src="assets/images/home/pricing.png"
                  class="pricing"
                  alt=""
                />
              </div>
            </div>
          </div>

          <a
            href="#slider-carousel"
            class="left control-carousel hidden-xs"
            data-slide="prev"
          >
            <i class="fa fa-angle-left"></i>
          </a>
          <a
            href="#slider-carousel"
            class="right control-carousel hidden-xs"
            data-slide="next"
          >
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--/slider-->

<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <div class="left-sidebar">
          <h2>Category</h2>
          <div class="panel-group category-products" id="accordian">
            <!--category-productsr-->
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a>
                    Apple store
                  </a>
                </h4>
              </div>
            </div>
          </div>
          <!--/category-products-->

          <!--/brands_products-->

          <!--/price-range-->

          <div class="shipping text-center">
            <!--shipping-->
            <img src="assets/images/home/shipping.jpg" alt="" />
          </div>
          <!--/shipping-->
        </div>
      </div>

      <div class="col-sm-9 padding-right">
        <input
          type="text"
          class="form-control"
          placeholder="Search"
          [(ngModel)]="query"
          id="listSearch"
        />

        <div class="features_items">
          <!--features_items-->
          <h2 class="title text-center">Produits</h2>
          <div class="col-sm-4" *ngFor="let pr of produits | LockFilter: query">
            <div class="product-image-wrapper">
              <div class="single-products">
                <div class="productinfo text-center">
                  <img src="{{ pr.photo }}" alt="" />
                  <h2>${{ pr.prix }}</h2>
                  <p>{{ pr.titre }}</p>
                  <a href="#" class="btn btn-default add-to-cart"
                    ><i class="fa fa-shopping-cart"></i>Ajouter au panier</a
                  >
                </div>
                <div class="product-overlay">
                  <div class="overlay-content">
                    <h2>${{ pr.prix }}</h2>
                    <p>{{ pr.titre }}</p>
                    <a
                      href="#"
                      (click)="add(pr)"
                      class="btn btn-default add-to-cart"
                      ><i class="fa fa-shopping-cart"></i>Ajouter au panier</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--features_items-->

        <!--/category-tab-->

        <div class="recommended_items">
          <!--recommended_items-->
          <h2 class="title text-center">recommendé</h2>

          <div
            id="recommended-item-carousel"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="item active">
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="assets/images/home/recommend1.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"
                          ><i class="fa fa-shopping-cart"></i>Ajouter au
                          panier</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="assets/images/home/recommend2.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"
                          ><i class="fa fa-shopping-cart"></i>Ajouter au
                          panier</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="assets/images/home/recommend3.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"
                          ><i class="fa fa-shopping-cart"></i>Ajouter au
                          panier</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="assets/images/home/recommend1.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"
                          ><i class="fa fa-shopping-cart"></i>Ajouter au
                          panier</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="assets/images/home/recommend2.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"
                          ><i class="fa fa-shopping-cart"></i>Ajouter au
                          panier</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="product-image-wrapper">
                    <div class="single-products">
                      <div class="productinfo text-center">
                        <img src="assets/images/home/recommend3.jpg" alt="" />
                        <h2>$56</h2>
                        <p>Easy Polo Black Edition</p>
                        <a href="#" class="btn btn-default add-to-cart"
                          ><i class="fa fa-shopping-cart"></i>Ajouter au
                          panier</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <a
              class="left recommended-item-control"
              href="#recommended-item-carousel"
              data-slide="prev"
            >
              <i class="fa fa-angle-left"></i>
            </a>
            <a
              class="right recommended-item-control"
              href="#recommended-item-carousel"
              data-slide="next"
            >
              <i class="fa fa-angle-right"></i>
            </a>
          </div>
        </div>
        <!--/recommended_items-->
      </div>
    </div>
  </div>
</section>
